/* -----  1.3 General Typography  ------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
pre {
    /* Reset font-sizes and normalize margins */
    font-size: inherit;
    line-height: inherit;
    margin: 0 0 1.5rem;
}

/* Headings */
h1,
h2,
h3 {
    font-weight: bold;
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.25;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.75rem;
    line-height: 2.2rem;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.2;
}

h4 {
    font-size: 1rem;
}

/* =====  3 Site Layout  ==================================================== */

html {
    background: #ffffff;
    color: #333333;
    font-family: 'Lato', sans-serif;
    /* Always show the vertical scrollbar to prevent `jumps`
     of page content after navigating from a very short page
     that does not scroll to a long pager */
    overflow-y: scroll;
    /* Setting this to `default` prevents the cursors from
     changing when hovering blocks of text or whitespace,
     which is less distracting */
    cursor: default;
    /* Neccessary for sticks footer. */
    position: relative;
    min-height: 100%;
    /* Prevent adjustments of font size after orientation
     changes in IE and iOS. */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    /* Highlight color for WebKit-bases touch devices. */
    -webkit-tap-highlight-color: rgba(113, 239, 172, .5);
    
}

body {
    margin-left: 4%;
    margin-top: 4%;
    margin-bottom: 5rem;
    display: none;
}



.left-aligned p {
    float: left;

}

@media all and (min-width: 600px) {
    .paragraph {
        margin-right: 40%;
    }
}


.first {
    margin-top: 3rem;
}

.first_small{
    margin-top: 1rem;
}


.big-icon {
    font-size: 2rem;
}

.ai {
    display: inline-block;
    font: normal normal normal 14px/1 Academicons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: #207FA2;

}

.blog {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;

    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 2px solid black;
}

.blog-intext {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;

    margin-left: auto;
    margin-right: auto;
    width: 65%;
}

.fig-legend {
    text-align: center;
    font-style: italic;
    margin-bottom: 2rem;
}

.blog_list {
    margin: 2rem
}

li {
    margin-bottom: 1rem;
}



a.button1 {
    display: inline-block;
    padding: 0.35rem 1.2rem;
    border: 0.1rem solid black;
    margin: 0 0.3rem 0.3rem 0;
    border-radius: 0.12rem;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.95rem;
    color: black;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: black;
    background-color: lightgray;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4rem auto;
    }
}



.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}
 
